html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto 0 auto;
}

header {
  padding: 0;
  background-color: #000033;
  min-height: 0px;
  display: block;
  color: #ffffff;
}

header div {
  width: 1200px;
  margin: 0 auto 0 auto;
  padding: 10px 0px 10px 0px;
}

header img {
  padding-right: 20px;
}

header .header-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 400px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

footer {
  background-color: #000033;
  display: block;
  margin-top: 20px;
  color: #ffffff;
  line-height: 20px;
  padding: 5px;
  clear: both;
}

footer div{
  width: 1200px; 
  margin: 0 auto 0 auto; 
}

footer .footer-info {
  text-align: center;
}

.container{
  width: 1200px;
  margin: 0 auto 0 auto;  
}

.home-floor-layout-container {
  display: block;
  margin-top: 15px;
}

.left-sidebar {
  text-transform: uppercase;
  float: left;
  display: block;
  width: 20%;
}

.left-sidebar ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.left-sidebar ul li {
  padding: 14px 0;
  background-color: #fff;
  left: 0;
}

.left-sidebar ul li:hover {
  background-color: #000033;
}

.left-sidebar a.category-tree {
  text-decoration: none;
  color: #000;
  padding-left: 20px;
}

.right-sidebar {
  float: right;
  width: 20%;
  border-left: solid 1px #C0C0C0;
}

.right-sidebar span {
  display: block;
  line-height: 2.5pt;
  padding: 10px 0;
  margin-left: 10px;
}

.right-sidebar .sidebar-title {
  text-transform: uppercase;
  background-color: #C0C0C0;
  border-left: solid 2px #003366;
  margin-left: 0px;
}

.homepage-banner {
  background-color: #f00000;
  float: left;
  width: 60%;
}

.floor {
  display: block;
  float: left;
  width: 1200px;
}

.floor .floor-separater {

}

.floor .floor-title {
  background-color: rgba(0,0,0,.05);
  color: #000000;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border-top: solid 3px #003366;
  display: block;
}

/*
 * product card property
 */
.product-card {
  border: 2px solid #003366;
  cursor: pointer;
  float: left;
  display: table-cell;
  margin: 10px 16px;
  padding: 2px;
  text-align: center;
  width: 260px;
  height: 340px;
  position: relative;
}

.product-name-big {
  font-weight: 700;
  font-size: 15px;
  color: #4c4849;
  line-height: 1.5pt;
}

.button-order {
  background-color: #003366;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 98.5%;
  position: absolute;
  bottom: 2px;
}

/*.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}*/
